body, table, div, p, dl {
	--font-family-normal: sans-serif;
	font: 16px/22px segoe UI,sans-serif;
	color: #1f2328;
}

div.contents {
	margin-bottom: 10px;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	max-width: 920px;
}

hr.footer {
	display: none;
}

div.fragment {
	padding: 8px;
	margin: 0px;
}

code {
	font-family: monaco, consolas, monospace, fixed;
	font-size: 12px;
}

.params .paramdir {
	font-family: monaco, consolas, "courier new",courier,monospace;
	vertical-align: top;
}

div.line {
	font-family: monaco, consolas, monospace, fixed;
	font-size: 12px;
	min-height: 13px;
	line-height: 1.6;
	text-wrap: unrestricted;
	white-space: -moz-pre-wrap; /* Moz */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3  */
	word-wrap: break-word;      /* IE 5.5+ */
	text-indent: -53px;
	padding-left: 53px;
	padding-bottom: 0px;
	margin: 0px;
	-webkit-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: background-color, box-shadow;
	-moz-transition-duration: 0.5s;
	-ms-transition-property: background-color, box-shadow;
	-ms-transition-duration: 0.5s;
	-o-transition-property: background-color, box-shadow;
	-o-transition-duration: 0.5s;
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
}

.memname tr {
	float: left;
}

